page-logement {
  h1 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  .card {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .avis {
    font-style: italic;
    font-size: 12px;
    margin-left: 7px;
  }
  .info, .equipement {
    margin-bottom: 10px;
    .icone {
      display: inline-block;
    }
  }
  .equipement {
    .icone {
      width: 18px;
    }
  }
}

