page-profile {
    .picture {
        font-size: 12em;
    }
    p {
        color: rgba(0,0,0,.8);
        font-style: italic;
    }
    .modif-button {
        display: inline-block;
        margin: 0 auto;
    }
}
